.char-list__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid red;
}

.char__title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
}

.char__img {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.char__img img {
    width: 60%;
    object-fit: cover;
}